<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/f87defdbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/style2.css">
</head>

<body>




    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap justify-content-center shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"></i> Inventory management
        </a>


    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                <span data-feather="home"></span> home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                Products
              </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rayon">

                Rayons
              </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fournisseur">
                Providers
              </a>
                        </li>


                    </ul>



                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Welcome To Our Products</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-xl-3 d-flex justify-content-start align-items-center">
                            <h1 style="font-size: 30px">Products</h1>
                        </div>

                        <div class="col-12 col-md-12 col-xl-3">
                            <div class="button d-flex justify-content-center">
                                <a href="/add"><span>Add + </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>











                <table class="table" id="myTable">
                    <thead class="thead" style="background-color: #1b233079">
                        <tr>
                            <th scope="col" style="color: rgb(0, 0, 0)">Tag_Name</th>
                            <th scope="col" style="color: rgb(0, 0, 0)">Products</th>
                            <th scope="col" style="color: rgb(0, 0, 0)">Prices</th>
                            <th scope="col" style="color: rgb(0, 0, 0)">Quantity</th>
                            <th scope="col" style="width: 219px;color: rgb(0, 0, 0)">Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(prod of prods){%>
                            <tr>
                                <th scope="row">
                                    <%= prod.produit_id%>
                                </th>
                                <td>
                                    <%=prod.produit_name%>
                                </td>
                                <td>
                                    <%=prod.prix%> Dhs</td>
                                <td>
                                    <%=prod.Quantité%>
                                </td>
                                <td>

                                    <a href="edit/<%= prod.produit_id %>" class="btn btn-success">Update * </a>
                                    <a href="delete/<%= prod.produit_id %>" class="btn btn-danger">DELETE - </a>

                                </td>
                            </tr>

                    </tbody>
                    <% } %>
                </table>

            </main>
        </div>
    </div>




    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>



</body>

</html>